{{> header}}

<section class="article">
    <header class="article-header">
        <h1 class="article-title">{{article.title}}</h1>
        <h2 class="article-likes">{{article.likesInfo}} - <a href="/article/{{slug}}/like">Like</a></h2>
    </header>

    <div class="article-description">
        {{article.content}}
    </div>
</section>

{{> footer}}