{{> header }}

<h1>{{title}}</h1>

<div class="articles">
    {{#articles}}
        <section>
            <header class="article-header">
                <h2 class="article-title"><a href="/article/{{slug}}">{{title}}</a></h2>
            </header>
            <div class="article-description">
                {{content}}
            </div>
        </section>
    {{/articles}}
</div>

{{> footer }}